@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
    font-style: normal;
}

body {
    background-color: black;
    color: white;
    
}

.right {
    width: 75vw;
}

.left {
    width: 25vw;
    padding: 10px;
}


.heading {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    font-size: 13px;
    padding: 23px 14px;
}

.heading img {
    width: 25px;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 15px;
    list-style: none;
    padding-top: 15px;
    font-weight: bold;
}

.library{
    min-height: 75vh;
    position: relative;
}

.footer{
    display: flex;
    gap: 9px;
    font-size: 10px;
    position: absolute;
    bottom: 0;

}


.right{
    margin: 16px 0;
    position: relative;
}

.footer a{
    color: grey;
    text-decoration: none;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(30,30,30);
    max-height: 72px;
}

.header> *{
    padding: 20px;
}

.hamburger{
    display: none;
}
.buttons{
    padding-top: 13px;
}
.signupbtn{
    border: 0;
    padding: 0 15px;
    background-color: rgb(30,30,30);
    color: grey;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.signupbtn:hover{
    font-size: 17px;
    color: whitesmoke;
}

.loginbtn{
    border: 0;
    background-color: whitesmoke;
    font-weight: bold;
    padding: 12px 29px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

.loginbtn:hover{
    font-size: 17px;
}
.spotifyPlaylists{
    padding: 15px;
}

.cardContainer{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    max-height: 70vh;
}

.cardContainer .card{
    width: 200px;
    /* border: 2px solid red; */
    padding: 7px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card > *{
    padding-top: 7px;
}
.card img{
    padding-top: 0;
    border-radius: 7px;   
    width: 100%;
    object-fit: contain;
}

.card>div{
    position: absolute;
    top: 107px;
    right: 14px;
}

.playbar{
    position: fixed;
    bottom: 30px;
    min-height: 36px;
    background-color: rgb(23, 125, 3);
    width: 70vw;
    padding: 12px;
    border-radius: 10px;
}

.seekbar{
    height: 2px;
    border: 2px solid black;
    width: 98%;
    background-color: black;
    position: absolute;
    border-radius: 10px;
    right: 10px;
    bottom: 7px;
    cursor: pointer;
}

.circle{
    height: 13px;
    width: 13px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    bottom: -5px;
    transition: left 0.5s;
}

.playbuttons{
    height: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    left: 45%;
}
.songsList{
    margin-bottom: 20px;
    max-height: 544px;
    overflow: auto;
}
.songsList ul{
    padding: 0 8px;
}
.songsList .info{
    width: 344px;
}
.songsList ul li{
    font-size: 12px;
    justify-content: space-between;
    list-style-type: decimal;
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 16px;
    border: 2px solid white;
    margin: 15px 0;
    
    
}

.info div{
    word-break: break-all;
}

.playNow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playbuttons img{
    cursor: pointer;
}
.songinfo{
    max-width: 26%;
    font-size: 13px;
}

.playContainer{
    display: flex;
    justify-content: space-between;
}

.close{
    display: none;
}

/* reponsiveness */
@media (max-width: 1300px) {
    .left{
        position: absolute;
        left: -120%;
        z-index: 1;
        transition: all .5s;
        width: 400px;
        background-color: black;
        height: 100vh;
    }

    .right{
        width: 100vw;
        margin: 0;

    }

    .playbar{
        width: 95vw;
    }

    .playContainer, .songinfo{
        font-size: 15px; 
    }
    .playContainer{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .playbuttons{
        position: static;
    }
    .songinfo{
        max-width: none;
        width: auto;
    }

    .hamburger{
        display: inline-block;
    }

    .cardContainer .card{
        width: 95vw;
    }

    .cardContainer{
        justify-content: center;
    }

    .close{
        display: inline-block;
        position: absolute;
        right: 30px;
        top: 30px;
    }
}